[
  {
    "modifierFlags" : 1179648,
    "order" : 0,
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 49,
    "openSelectedFiles" : true,
    "url" : "\/Clipboard.clipboard",
    "hideIfActive" : false
  },
  {
    "modifierFlags" : 1048840,
    "order" : 1,
    "bookmark" : "Ym9vazACAAAAAAQQMAAAAHq2bWZVfQ7hmCGg+Qjs+2Z403lyqJxHiRzvQi2Lh0eYUAEAAAQAAAADAwAAAAgAKAwAAAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwgU3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABPqSsBAgAAAAgAAAAEAwAAXMoxAgIAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBwSeaHQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwEAAAABAQAAQwAAAAgAAAAEAwAAAKBvB8sAAAAIAAAAAAQAAEG9zcRpAAAAJAAAAAEBAABGNTg4MzUwMC03NTEzLTM0OEUtOTAwMy0zRjcyNTk1ODU1OUQYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAARAAAAAAAAAAFEAAAdAAAAAAAAAAQEAAAlAAAAAAAAABAEAAAhAAAAAAAAAACIAAAPAEAAAAAAAAFIAAAtAAAAAAAAAAQIAAAxAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 18,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Visual Studio Code.app",
    "hideIfActive" : true
  },
  {
    "modifierFlags" : 1048840,
    "order" : 2,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAOvpSuzX3xJjVsWSmyUCYjSgyBOUV0Iv69+5ITeAMaVJTAEAAAQAAAADAwAAAAgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAE+pKwECAAAACAAAAAQDAAA5AwoAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEG9\/4mrAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vAQAAAAEBAABDAAAACAAAAAQDAAAAoG8HywAAAAgAAAAABAAAQb3NxGkAAAAkAAAAAQEAAEY1ODgzNTAwLTc1MTMtMzQ4RS05MDAzLTNGNzI1OTU4NTU5RBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABAAAAAAAAAAAUQAABwAAAAAAAAABAQAACQAAAAAAAAAEAQAACAAAAAAAAAAAIgAAA4AQAAAAAAAAUgAACwAAAAAAAAABAgAADAAAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 19,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Google Chrome.app",
    "hideIfActive" : true
  },
  {
    "modifierFlags" : 1048840,
    "order" : 3,
    "bookmark" : "Ym9vayQCAAAAAAQQMAAAAKsX5b6rKV3FvXD8rWMe0QNKZORfrFk7Jm4cvegkSkm1RAEAAAQAAAADAwAAAAgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABGaXJlZm94LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABPqSsBAgAAAAgAAAAEAwAAP4QoAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBvfpGkgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwEAAAABAQAAQwAAAAgAAAAEAwAAAKBvB8sAAAAIAAAAAAQAAEG9zcRpAAAAJAAAAAEBAABGNTg4MzUwMC03NTEzLTM0OEUtOTAwMy0zRjcyNTk1ODU1OUQYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAFEAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAAAAACIAAAMAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAAAAAAAAARIAAA5AAAAAAAAAASIAAAxAAAAAAAAAATIAAA1AAAAAAAAAAgIAAAEAEAAAAAAAAwIAAAPAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 50,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Firefox.app",
    "hideIfActive" : true
  }
]